{% extends "base.html" %}
{% load dict_extras %}

{% block content %}
    <nav aria-label="breadcrumb mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'quiz:profile' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quiz</li>
        </ol>
    </nav>
    <h1 class="text-center">Edit Quiz</h1>
    <hr>
    <h2>General</h2>
    <form action="{% url 'quiz:edit-quiz' quiz_id=quiz.id %}" method="POST">{% csrf_token %}
        <div class="form-group">
            <label for="quiz-name-input">Quiz Name</label>
            <input name="name" type="text" class="form-control" id="quiz-name-input" value="{{ quiz.name }}">
            <small>The name of your quiz</small>
        </div>
        <div class="form-group">
            <label for="quiz-secret-input">Quiz Secret</label>
            <input name="secret" type="text" class="form-control" id="quiz-secret-input" value="{{ quiz.secret }}">
            <small>The secret code required to participate in your quiz</small>
        </div>
        <div class="form-action">
            <button type="submit" class="btn btn-info">Save</button>
        </div>
    </form>
    <hr>
    <h2>Rounds</h2>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for round in quiz.rounds %}
                <tr>
                    <th scope="row">{{ round.round_number }}</th>
                    <td>{{ round.name }}</td>
                    <td>{{ round_types|lookup:round.type }}</td>
                    <td>
                        <form class="mt-1" action="{% url 'quiz:edit-round' quiz_id=quiz.id round_id=round.id %}" method="GET">{% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-block">Edit</button>
                        </form>
                        <form class="mt-1" action="{% url 'quiz:delete-round' quiz_id=quiz.id round_id=round.id %}" method="POST">{% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-block">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form class="form-inline" action="{% url 'quiz:create-round' quiz_id=quiz.id %}" method="POST">{% csrf_token %}
        <select class="custom-select my-1 mr-sm-2" name="round_type" id="round-type-select" required>
            <option value="" selected>Round type</option>
            {% for value, label in round_types.items %}
                <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-info">Add Round</button>
    </form>
{% endblock content %}